# SPDX-FileCopyrightText: 2026 XWiki CryptPad Team <contact@cryptpad.org> and contributors
#
# SPDX-License-Identifier: AGPL-3.0-or-later

*.swp
node_modules
build
plugins
config/config.js
config/infra.js
cryptpad-server-*.tgz
blob
blobstage
block
data
datastore
pins
