# SPDX-FileCopyrightText: 2026 XWiki CryptPad Team <contact@cryptpad.org> and contributors
#
# SPDX-License-Identifier: AGPL-3.0-or-later

*.swp
node_modules
build
data
plugins
config/config.js
config/infra.js
blob/
block/
cryptpad-server-*.tgz
datastore/
pins/
